<div class="navbar">
    <mat-toolbar color="primary" class="mat-elevation-z9">

        <a mat-button routerLink="home">
            <mat-icon>
                important_devices
            </mat-icon> 
            Smart House
        </a>
    
        <span class="spacer"></span>
        <a mat-button routerLink="home">Home</a>
        <a mat-button routerLink="dashboard">About Us</a>
        <a mat-button routerLink="contact">Contact Us</a>


        <span class="spacer"></span>
        <a mat-button routerLink="login">Sign In</a>
        <a mat-raised-button color="war" routerLink="register">Sign Up</a>
        
      </mat-toolbar>
</div>