.container {
    display: flex;
    justify-content: space-between;
    margin: 8em auto;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}


.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
}
.left-side .text {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    margin-top: -6em;
}



.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
}
.container .right-side h1{
    font-size: 3em;
    font-weight: 700;
    text-align: left;
}
.form-control {
    height: 3.6em;
    border-radius: 10px;
}


.container button {
    width: 30em;
    height: 3.2em;
    font-size: 18px;
    border-radius: 12px;
}

