<div class="container" >
    <mat-card class="card" [ngStyle]="{'background-color':card.off ? '#ffd7d7' : '#d7ffd7'}" *ngFor="let card of cards"> 
        <div class="content" >
            <div class="left">

                <div [ngClass]="{'material-icons-outlined' : !card.off, 'cercle' : card.off}" (click)="play(card)">
                    <mat-icon *ngIf="card.off">play_arrow</mat-icon>
                    <mat-icon *ngIf="!card.off">pause</mat-icon>
                </div>

                <div>
                    <p>Device: <b>{{card.device}}</b> </p>
                    <p>Room: <b>{{card.room}}</b> </p>
                    <p>Floor: <b>{{card.floor}}</b> </p>
                    <p>Status: <b>{{card.status}}</b> </p>
                </div>

            </div>
            <div class="right">
                <button mat-raised-button class="action-button" (click)="removeCard(card.id)" type="submit">
                    Delete <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>
